<h1>Editing withdrawl</h1>

<%= render "form", withdrawl: @withdrawl %>

<br>

<div>
  <%= link_to "Show this withdrawl", @withdrawl %> |
  <%= link_to "Back to withdrawls", withdrawls_path %>
</div>
