<div class="container-fluid"> 
    <!-- <div id="<%= dom_id news %>"> -->
      <!-- <td> <%= news.id %></td>   -->
      <td> <%= news.news %> </td>
      <td> <%= news.team.name %> </td>
  <!-- </div> -->
</div>
