<h1>Editing game point</h1>

<%= render "form", game_point: @game_point %>

<br>

<div>
  <%= link_to "Show this game point", @game_point %> |
  <%= link_to "Back to game points", game_points_path %>
</div>
