<p style="color: green"><%= notice %></p>

<%= render @game_point %>

<div>
   |
  <%= link_to "Back to game points", game_points_path %>

  <%= button_to "Destroy this game point", @game_point, method: :delete %>
</div>
